<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>{{ page.title }}: {{ page.description }}</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   	<meta name="description" content="{{ site.description }}">
   	<meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width">

	  <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Droid+Sans+Mono|Lato:300,400,700" rel="stylesheet" type="text/css">
    <link href='/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link href='/assets/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
    <link href='/assets/css/solarized_light.css' rel='stylesheet' type='text/css' />
    <link href='/assets/css/style.css' rel='stylesheet' type='text/css' />
</head>
<body>
	<!--[if lt IE 7]><p class=chromeframe>Your browser
	is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade
	to a different browser</a>
	or <a href="http://www.google.com/chromeframe/?redirect=true">install
	Google Chrome Frame</a> to experience this
	site.</p><![endif]-->

  <div class="container">
<div class="row-fluid">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4 well">
    <div id="introduction">
      <p>Through a cloud, darkly.</p>
      <p>Notes on cloud computing and our future.</p>
      <p>By Michael Gorsuch.</p>
    </div>
    <div id="contact">
      <a href="http://twitter.com/michaelgorsuch"><i class="icon-twitter"></i></a>
      <a href="http://github.com/gorsuch"><i class="icon-github-alt"></i></a>
      </div>
    </div>
</div>
  </div>
</body>
</html>
